@use '../badge/badge.shared' as badge;

:host {
    display: contents;
}

.state-badge {
    --badge-color: var(--ui-color-state-start);

    @include badge.badge-base;
    @include badge.badge-sizes;
    @include badge.badge-tinted(var(--badge-color));

    &--start {
        --badge-color: var(--ui-color-state-start);
    }

    &--final {
        --badge-color: var(--ui-color-state-final);
    }

    &--in-progress {
        --badge-color: var(--ui-color-state-in-progress);
    }
}
