@if (!multi()) {
    <ui-select
        [inputId]="inputId()"
        class="issue-type-dropdown"
        [options]="options()"
        [ngModel]="value()"
        (ngModelChange)="onValueChange($event)"
        [showClear]="true"
        [placeholder]="placeholder()"
        [uiSaveStatus]="saveStatus()"
        optionLabel="name"
        optionValue="idIssueType"
    >
        <ng-template #selectedItem let-type>
            <app-issue-type-badge [issueType]="type" size="s"></app-issue-type-badge>
        </ng-template>

        <ng-template #item let-type>
            <app-issue-type-badge [issueType]="type" size="s"></app-issue-type-badge>
        </ng-template>
    </ui-select>
} @else {
    <ui-multiselect
        [inputId]="inputId()"
        [options]="options()"
        class="issue-type-dropdown"
        optionLabel="name"
        [uiSaveStatus]="saveStatus()"
        [ngModel]="multiValue()"
        (ngModelChange)="onMultiValueChange($event)"
    >
        <ng-template #selectedItems let-types>
            <div class="flex items-center gap-1">
                @for (type of types; track type.idIssueType) {
                    <app-issue-type-badge [issueType]="type" size="s"></app-issue-type-badge>
                    @if (!$last) {
                        ,
                    }
                }
            </div>
        </ng-template>

        <ng-template #item let-type>
            <app-issue-type-badge [issueType]="type" size="s"></app-issue-type-badge>
        </ng-template>
    </ui-multiselect>
}
