@mixin badge-base {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    padding: 2px var(--ui-space-s);
    border-radius: calc(var(--ui-radius-md) / 2);
    border: 1px solid transparent;
}

@mixin badge-tinted($color) {
    border-color: color-mix(in srgb, #{$color} 50%, transparent);
    background: color-mix(in srgb, #{$color} 15%, transparent);
    color: #{$color};
}

@mixin badge-sizes {
    &--xs {
        font-size: var(--font-size-xs);
    }
    &--s {
        font-size: var(--font-size-s);
    }
    &--default {
        font-size: var(--font-size);
    }
    &--m {
        font-size: var(--font-size-m);
    }
    &--l {
        font-size: var(--font-size-l);
    }
    &--xl {
        font-size: var(--font-size-xl);
    }
}
