:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-builder-page {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    box-sizing: border-box;
}
