<div class="flex flex-col">
    <p class="m-0 p-4 ui-color-text-muted border-bottom">
        {{ 'AGENT.PHASE_STATE_MAP.DESCRIPTION' | translate }}
    </p>

    @if (isLoading()) {
        <div class="p-4"><ui-loader [size]="40" [ariaLabel]="'UI.LOADING' | translate" /></div>
    } @else {
        <table class="ui-table" style="min-width: 30rem">
            <thead>
                <tr>
                    <th scope="col">{{ 'AGENT.PHASE_STATE_MAP.PHASE' | translate }}</th>
                    <th scope="col">{{ 'AGENT.PHASE_STATE_MAP.STATE' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                @for (phase of phases; track phase; let rowIndex = $index) {
                    <tr>
                        <td>
                            <span class="font-semibold">{{ phaseLabels[phase] | translate }}</span>
                            <span class="ui-color-text-muted ml-2">({{ phase }})</span>
                        </td>
                        <td>
                            <app-state-dropdown
                                [states]="states()"
                                [formControl]="getMappingControl(rowIndex)"
                                [saveStatus]="rowSaveStatus(rowIndex)"
                                [placeholder]="'AGENT.PHASE_STATE_MAP.NO_MAPPING' | translate"
                            />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
